!.gitkeep

# Code
.idea
src/public/uploads/users
db/data
composer\.phar
src/laravel-echo-server.json
./docker-compose.yml

# LateX
*.aux
*.toc
*.log
*.lot
*.lof
*.out
*.gz
*.synctex(busy)
/report/*.pdf
french.txt
