body {
    background: linear-gradient(135deg,#171c36,#181b34 0,#112d45 30%,#002d3b);
}

.message-list{
    font-size: 10px;
}

.toBottom{
    vertical-align: middle;
}

.tableCell{
    display: flex;
}

.tableDisp{
    display: flex;
}

.modal-content.is-dark{
    border: solid 4px white;
    border-radius: 0;
}

.modal-content:not(.is-dark){
    border: solid 4px #212529;
    border-radius: 0;
}

.menu section{
    border-top: none;
    margin-top: 0;
}

section.gameName {
    padding: 5px;
    text-align: center;
    border-color: white;
    color: white !important;
}
.menu button{
    padding: 2px;
    margin: 2px;
    margin-top: 7px;
    font-size: 10px;
}

img.pixelated{
    image-rendering: pixelated;
}

@media screen and (min-width: 1000px) {
    .join section{
        margin-left: 1em;
    }

    .chat{
        margin: 1em 1em 0 1em;
        position: fixed;
        bottom: 0;
        border-bottom: none;
        max-height: 95%;
    }

    .menu{
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 1;
    }

    .menu > .row > div{
        background-color: white;
        padding-bottom: 4px;
    }

    .menu > .row{
        width: 1170px;
        margin: auto;
    }
}

@media screen and (max-width: 1200px) {
    .chat{
        margin: 0;
    }
}

#chat-messages{
    overflow-y: scroll;
}

.nes-text.is-disabled{
    color: #777;
}

.message i{
    font-style: normal;
    text-align: center;
    color: grey;
    font-size: 6px;
    width: 32px;
    overflow-x: hidden;
}

.nes-balloon{
    min-width: 50px;
}

#rules_content span{
    display: block;
    text-align: center;
}
#rules_content p{
    text-align: justify;
}
#rules_content h2{
    margin-top: 1em;
    padding-left: 10px;
    font-size: 15px;
    color: #f7d51d;
}

#definitionModal p.content, #definitionModal label, #definitionModal p.definitions, #definitionModal p.synonyms, #join_submitWord, .manageWords section{
    font-size: 10px;
}

#definitionModal p.content li, #definitionModal label, #definitionModal p.definitions li, #definitionModal p.synonyms li{
    margin-top: 10px;
}

.btn-getDefinition{
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    top: -4px;
    right: -4px;
    float: right;
    border-image-source:url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(0,0,0)" /></svg>');
}

.nes-balloon p{
    max-width: 200px;
    word-wrap: break-word;
}

.onlineUsers, .gamePannel{
    margin-top: 40px;
}

.gamePannel section.informations, .profile section.guestLogin, .profile section.loginForm, .profile section.signupForm{
    font-size: 10px;
}

.profile section.loginForm,
.profile section.helloSection {
    border-color: #a8ce3c;
}

.profile section.helloSection .nes-text {
    color: white;
}

.profile section.helloSection .split {
    border-color: white;
}

.profile section.helloSection label {
    color: #a8ce3c;
    margin-top: 10px;
}

.profile section.loginForm .title,
.profile section.helloSection .title {
    background-color: #a8ce3c;
    padding: 4px;
    color: white;
}

.profile section.loginForm label {
    color: #a8ce3c;
}

.profile section.loginForm input,
.profile section.signupForm input,
.profile section.guestLogin input,
.joinGameSection input,
#join_createGame input,
.profile section.updateProfile input {
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
}

.profile section.updateProfile .nes-input-avatar {
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
}

.profile section.updateProfile .avatar-sectionInput label {
    background-color: unset;
}

.profile section.signupForm {
     border-color: #5bb1e1;
 }

.profile section.signupForm .title {
    background-color: #5bb1e1;
    padding: 4px;
}

.profile section.signupForm label {
    color: #5bb1e1;
}

.profile section.guestLogin {
    border-color: #ffce3a;
}

.profile section.guestLogin .title {
    background-color: #ffce3a;
    padding: 4px;
    color: white !important;
}

.profile section.guestLogin label {
    color: #ffce3a;
}

#join_submitWord .title {
    background-color: #ffce3a;
    padding: 4px;
    color: white !important;
}

#join_submitWord label {
    color: #ffce3a !important;
}

#join_submitWord {
    border-color: #ffce3a;
}

#join_submitWord button {
    background-color:  #ffce3a;
    border-color:  #ffce3a;
    color: white;
}

#join_submitWord button:hover {
    background-color: #ebbc38;
}

#join_submitWord button::after {
    box-shadow: inset -4px -4px #cfa82c !important;
}

.profile section.updateProfile {
    border-color: #5bb1e1;
}

.profile section.updateProfile .title {
    background-color: #5bb1e1;
    padding: 4px;
    color: white !important;
}

.profile section.updateProfile label {
    color: #5bb1e1;
}

.profile section.updateProfile .split {
    border-color: #5bb1e1;
}

.profile section.guestLogin span,
.profile section.updateProfile span {
    color: white;
}

.profile section.updateProfile button {
    background-color: #5bb1e1;
    border-color: #5bb1e1;
    color: white;
}

.profile section.updateProfile button:hover {
    background-color: #4c9cc8;
}

.profile section.updateProfile button::after {
    box-shadow: inset -4px -4px #487ca5 !important;
}

.joinGameSection {
    border-color: #865788;
}

.joinGameSection .randomGameButton {
    background-color: #865788;
    border-color: #865788;
}

.joinGameSection .randomGameButton:hover {
    background-color: #68406a;
}

.joinGameSection .randomGameButton::after {
    box-shadow: inset -4px -4px #523354 !important;
}

.joinGameSection .title {
    background-color: #865788 !important;
    padding: 4px;
    color: white;
}

.joinGameSection label {
    color: #865788;
}

#join_createGame .title {
    background-color: #ef625a !important;
    padding: 4px;
    color:white;
}

#join_createGame label {
    color: #ef625a;
}

#join_createGame label span:before {
    color: gray;
}

#join_createGame {
    border-color: #ef625a;
}

#join_createGame button {
    background-color: #ef625a;
    border-color: #ef625a;
}

#join_createGame button:hover {
    background-color: #c5514a;
}

#join_createGame button::after {
    box-shadow: inset -4px -4px #c5514a; !important;
}

#join_gameWithId .nes-btn {
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(134,87,136)" /></svg>') !important;
}



.profile .nes-field{
    padding-bottom: 1em;
}

.logOut{
    text-align: right;
}

.logOut button{
    font-size: 10px;
    padding: 2px;
    margin: 6px;
}

.updateProfile{
    font-size: 10px;
}

#findWord{
    margin-top: 17px !important;
}

.split{
    display: block;
    border-top: solid 3px #333;
    margin: 1em 0.8em 0.5em 0.8em;
}

.wordsToValidate .split:last-of-type, .manageWords .split:last-of-type{
    display: none;
}

.badges{
    text-align: center;
}

.badges span.nes-badge{
    font-size: 12px;
    width: 160px;
}

.badges span.nes-badge:not(.is-splited) span{
    display: block;
    position: relative !important;
}

.badges label{
    margin-top: 5px;
    font-size: 10px;
    display: block;
}

.nes-badge.is-splited span:first-child{
    width: 55% !important;
}
.nes-badge.is-splited span:last-child{
    width: 45% !important;
}

.manageWords section button{
    width: 100%;
}

.profile section button{
    width: 100%;
    font-size: 16px;
}

.profile .nes-field:last-of-type, .manageWords .nes-field:last-of-type, .wordsToValidate .nes-field:last-of-type{
    padding-bottom: 0;
}

.profile > div:first-of-type > section,
.wordsToValidate > div:first-of-type > section,
.manageWords > div:first-of-type > section,
.rules > section.is-dark,
.join > div:first-of-type > section
{
    margin-top: 0 !important;
}

.join > div > section{
    position: relative;
    top: -40px;
}

.join > div:first-of-type > section{
    position: relative;
    top: 0px;
}

.radioGroup > label > span{
    margin: 0 0.7em 0 0.5em;
    font-weight: lighter;
    font-size: 14px;
}

.profile > div:last-of-type > section,
.wordsToValidate > div:last-of-type > section,
.manageWords > div:last-of-type > section,
.rules > section.is-dark,
.join > div:last-of-type > section
{
    margin-bottom: 1em !important;
}

.onlineUsers section, .onlineUsers section.is-dark, .gamePannel section,
.profile section, .manageWords section, .wordsToValidate section, .rules section.is-dark{
    margin-top: 1em;
    padding: 5px;
}

.join section{
    margin-top: 1em;
    padding: 5px;
}

.join section button{
    width: 100%;
}

.join section label{
    margin-top: 8px;
    font-size: 10px;
}

#game-word_helperInput button, #game-word_chooserInput button{
    margin-top: 7px;
    width: 100%;
}

#game-word_chooserInput > span {
    margin-top: 15px;
    display: block;
    font-size: 9px;
}

.gamePannel section, .profile section, .join section, .manageWords section, .wordsToValidate section{
    padding-right: 13px;
}

.item > * {
    margin: 10px 2px 3px 2px !important;
}

.onlineUsers .title{
    position: relative;
    top: 0px;
}

.gameName{
    border-top: none;
    margin-bottom: 1em;
}

.nes-container.is-dark.member-card{
    width: auto;
    padding: 8px !important;
    margin: 0px;
}

.nes-container.is-dark.member-card:hover{
    opacity: 0.8;
}

.member-card .avatar > img {
    margin-left: 2px;
    width: 32px;
    height: 32px;
}

.member-card > .users{
    margin-left: 5px;
    width: calc(100% - 32px);
}

.member-card > .users > .name{
    font-size: 12px;
}

.member-card{
    overflow-x: hidden;
    overflow-y: hidden;
}

.member-card.isCurrentUser{
    background-color: darkgray;
}

#profilModal div.email{
    text-align: center;
    font-size: 10px;
}

#profilModal div.title div{
    display: inline-block;
    vertical-align: middle;
}
#profilModal div.title div.avatar img{
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    border-radius: 16px;
}

span.win{
    padding-left: 5px;
    font-size: 24px;
    color: #e8cf14;
}

span.defeat{
    padding-left: 5px;
    font-size: 24px;
    color: darkred;
}

.avatar-sectionInput{
    display: inline-block;
    width: calc(100% - 50px);
}
.avatar-sectionDisplay{
    display: inline-block;
    width: 40px;
}

.avatar-sectionDisplay div.nes-input{
    position: relative;
    top: 3px;
    padding: 0;
    width: 32px;
    height: 32px;
}

.avatar-sectionDisplay img{
    image-rendering: pixelated;
    position: relative;
    top: -4px;
    left: -4px;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    display: block;
    color: #898b8d;
    font-weight: normal;
}
.inputfile + label span.is-ok {
    color: #212529;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: white;
}

.member-card > .users{
    font-size: 8px;
    font-style: italic;
}

.member-card > .users > p{
    font-size: 8px;
    margin-bottom: 3px;
}

.noMargin{margin: 0;}
.noPadding{padding: 0;}
.smallMargin{margin: 3px;}
.smallPadding{padding: 3px;}
.message-list > .message.-left i.smallMargin{margin-right: 3px;}
.message-list > .message.-right i.smallMargin{margin-left: 3px;}
.message-list > .message.smallMargin{margin-top: 3px;}

.smallMargin{
    margin: 3px !important;
}

.nes-container.with-title > .title {
    margin-top: -0.9rem !important;
}

.rules{
    font-size: 10px;
}
.rules button{
    width: 100%;
}

#chat-input{
    font-size: 10px;
    padding: 3px;
}

#chat-messages > section > div.nes-balloon > p{
    font-size: 9px;
}

#game-word_current_words button{
    font-size: 10px;
    padding: 2px;
}

.nes-dialog > .title{
    text-align: center;
}

.nes-dialog > .dialog-menu{
    text-align: center;
}

button.play {
    margin-top: 8px;
    width: 100%;
}

.info{
    font-size: 8px;
}

input.nes-input.btnInInput {
    padding-right: 30px !important;
}

a.btnInInput {
    margin-left: -30px;
    width: 30px;
}

.join input.nes-input.btnInInput {
    width: 100%;
    padding-right: 80px !important;
}

#players-list > section.isHost{
    color: #212529;
    background-color: #d3d3d3;
}

#players-game, #game-allRounds{
    font-size: 12px;
}

.join button.btnInInput {
    float: right;
    padding: 5px 8px!important;
    top: -50px;
    left: 8px;
    color: white;
    width: 80px;
    padding-right: 80px !important;
}

.join button.btnInInput.is-disabled{
    color: #212529;
}

.largeText{
    font-size: 1em;
    font-weight: bold;
}