.message-list{
    font-size: 10px;
}

.toBottom{
    vertical-align: middle;
}

.tableCell{
    display: flex;
}

.tableDisp{
    display: flex;
}

.modal-content.is-dark{
    border: solid 4px white;
    border-radius: 0;
}

.modal-content:not(.is-dark){
    border: solid 4px black;
    border-radius: 0;
}

.menu section{
    border-top: none;
    margin-top: 0;
}

section.gameName {
    padding: 5px;
    text-align: center;
}
.menu button{
    padding: 2px;
    margin: 2px;
    margin-top: 7px;
    font-size: 10px;
}

img.pixelated{
    image-rendering: pixelated;
}

@media screen and (min-width: 1200px) {
    .join section{
        margin-left: 1em;
    }

    .chat{
        margin: 1em 1em 0 1em;
        position: fixed;
        bottom: 0px;
        border-bottom: solid 0px black;
        max-height: 95%;
    }

    .menu{
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 1;
    }

    .menu > .row > div{
        background-color: white;
        padding-bottom: 4px;
    }

    .menu > .row{
        width: 1170px;
        margin: auto;
    }
}

@media screen and (max-width: 1200px) {
    .chat{
        margin: 0;
    }
}

#chat-messages{
    overflow-y: scroll;
}

.message i{
    font-style: normal;
    text-align: center;
    color: grey;
    font-size: 6px;
    width: 32px;
    overflow-x: hidden;
}

.nes-balloon{
    min-width: 50px;
}

.nes-balloon p{
    max-width: 200px;
    word-wrap: break-word;
}

.onlineUsers, .gamePannel{
    margin-top: 40px;
}

.gamePannel section.informations, .profile section.guestLogin, .profile section.loginForm, .profile section.signupForm{
    font-size: 10px;
}

.profile section.loginForm .nes-field,
.profile section.signupForm .nes-field{
    padding-bottom: 1em;
}


.profile section.loginForm button,
.profile section.signupForm button{
    width: 100%;
    font-size: 16px;
}

.profile section.loginForm .nes-field:last-of-type,
.profile section.signupForm .nes-field:last-of-type{
    padding-bottom: 0;
}

.profile > div:first-of-type > section,
.rules > section.is-dark,
.join > div:first-of-type > section
{
    margin-top: 0 !important;
}

.join > div > section{
    position: relative;
    top: -40px;
}

.join > div:first-of-type > section{
    position: relative;
    top: 0px;
}

.radioGroup > label > span{
    margin: 0 0.7em 0 0.5em;
    font-weight: lighter;
    font-size: 14px;
}

.profile > div:last-of-type > section,
.rules > section.is-dark,
.join > div:last-of-type > section
{
    margin-bottom: 1em !important;
}

.onlineUsers section, .onlineUsers section.is-dark, .gamePannel section,
.profile section, .rules section.is-dark{
    margin-top: 1em;
    padding: 5px;
}

.join section{
    margin-top: 1em;
    padding: 5px;
}

.join section button{
    width: 100%;
}

.join section label{
    margin-top: 8px;
    font-size: 10px;
}

#game-word_helperInput button, #game-word_chooserInput button{
    margin-top: 7px;
    width: 100%;
}

#game-word_chooserInput > span {
    margin-top: 15px;
    display: block;
    font-size: 9px;
}

.gamePannel section, .profile section, .join section{
    padding-right: 13px;
}

.item > * {
    margin: 10px 2px 3px 2px !important;
}

.onlineUsers .title{
    position: relative;
    top: 0px;
}

.gameName{
    border-top: none;
    margin-bottom: 1em;
}

.nes-container.is-dark.member-card{
    width: auto;
    padding: 8px !important;
    margin: 0px;
}

.member-card .avatar > img{
    width: 32px;
    height: 32px;
}

.member-card > .profile > .name{
    font-size: 12px;
}

.member-card > .profile > p{
    font-size: 8px;
    margin-bottom: 3px;
}

.noMargin{margin: 0;}
.noPadding{padding: 0;}
.smallMargin{margin: 3px;}
.smallPadding{padding: 3px;}
.message-list > .message.-left i.smallMargin{margin-right: 3px;}
.message-list > .message.-right i.smallMargin{margin-left: 3px;}
.message-list > .message.smallMargin{margin-top: 3px;}

.smallMargin{
    margin: 3px !important;
}

.nes-container.with-title > .title {
    margin-top: -0.9rem !important;
}

.rules{
    font-size: 10px;
}
.rules button{
    width: 100%;
}

#chat-input{
    font-size: 10px;
    padding: 3px;
}

#chat-messages > section > div.nes-balloon > p{
    font-size: 9px;
}

#game-word_current_words button{
    font-size: 10px;
    padding: 2px;
}

.nes-dialog > .title{
    text-align: center;
}

.nes-dialog > .dialog-menu{
    text-align: center;
}

button.play {
    margin-top: 8px;
    width: 100%;
}

.info{
    font-size: 8px;
}

input.nes-input.btnInInput {
    padding-right: 30px !important;
}

a.btnInInput {
    margin-left: -30px;
    width: 30px;
}

.join input.nes-input.btnInInput {
    width: 100%;
    padding-right: 80px !important;
}

.join a.btnInInput {
    float: right;
    padding: 5px 8px!important;
    top: -50px;
    left: 8px;
    color: white;
    width: 80px;
    padding-right: 80px !important;
}

.largeText{
    font-size: 1em;
    font-weight: bold;
}