.newWordButtons {
    text-align: center;
}

#updateAvatar, #deleteAvatar {
    max-width: 130px;
    margin: auto;
    display: block;
}

.fa.fa-download {
    font-size: 4em;
    color: #1B6D85;
    text-align: center;
    width: 100%;
}